.page {
    min-width: 320px;
    max-width: 1184px;
    min-height: 100vh;
    margin: 0 auto;
    font-family: 'Inter', sans-serif, Arial;
    background: #2A2C2F;
    display: flex;
    flex-direction: column;
  }
  