.places__title {
  grid-area: title;
  align-self: end;
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFF;
}

@media screen and (max-width: 920px) {
  .places__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 600px){
  .places__title {
    font-size: 32px;
    line-height: 35px;
  }
} 