.lead {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1200px) {
  .lead {
    max-width: 928px;
  }
}

@media screen and (max-width: 920px) {
  .lead {
    max-width: 768px;
  } 
}

@media screen and (max-width: 750px){
  .lead {
    max-width: 320px;
  }
} 