.cover__subtitle {
  width: 360px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFF;
  z-index: 10;
  margin: 0;
}

@media screen and (max-width: 600px){
  .cover__subtitle {
    width: 320px;
    font-size: 14px;
    line-height: 16px;
  }
}