.intro {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 92px;

}
  
@media screen and (max-width: 1200px) {
  .intro {
    max-width: 962px;
  }
}

@media screen and (max-width: 920px) {
  .intro {
    margin: 88px 24px;
  } 
}

@media screen and (max-width: 600px){
  .intro {
    margin: 64px 16px;
    max-width: 320px;
  }
} 