.intro {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 92px;
}
  
@media screen and (max-width: 1200px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 920px) {
  .intro {
    max-width: 720px;
  } 
}

@media screen and (max-width: 750px){
  .intro {
    margin: 64px auto;
    max-width: 320px;
  }
} 