.cover {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 92px auto 92px;
}

@media screen and (max-width: 600px){
  .cover {
    max-width: 320px;
    min-height: 200px;
  }
}