.lead__caption {
  display: flex;
  margin: 0;
  min-width: 158px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFF;
  flex-wrap: nowrap;
}

@media screen and (max-width: 920px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 600px){
  .lead__caption {
    margin-left: 16px;
  }
}
      
  