.photo__image {
    margin: 0;
  }

@media screen and (max-width: 1200px) {
  .photo__image {
    width: 300px;
    height: 225px;
  }
}

@media screen and (max-width: 920px) {
  .photo__image {
    width: 352px;
    height: 264px;
  }
}

@media screen and (max-width: 600px){
  .photo__image {
    width: 288px;
    height: 216px;
  }
}