.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto 24px;
}

@media screen and (max-width: 600px){
  .footer {
    display: flex;
    flex-direction: column;
    max-width: 186px;
    height: 310px;
    margin: 0 auto 24px 16px;
  }
}