.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
}

@media screen and (max-width: 1200px) {
  .footer {
    justify-self: center;
    max-width: 928px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 650px){
  .footer {
    max-width: 304px;
    margin: 0 auto 24px 16px;
    flex-direction: column;
  }
}